* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e8f4ea;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

header {
	box-shadow: 0 3px 10px -2px black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: wrap;
	background-color: #b8d8be;
	position: sticky;
	top: 0;
	z-index: 10;
	width: 100vw;
	height: 10vh;
}

.fieldDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 1px solid;
	padding: 5px;
	margin-right: 10%;
}

input {
	border-radius: 5px;
	padding-left: 2px;
}
select {
	padding-left: 2px;
	border-radius: 5px;
	border: 1px solid black;
}

label {
	margin-left: 10px;
	font-weight: bolder;
}
form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cardContainer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	height: 100vw;
	height: 100%;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
	background-color: transparent;
	box-shadow: 3px 3px 5px black;
	margin: 10px;
	width: 300px;
	height: 400px;
	border: 2px solid black;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	border-radius: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:active .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: #c8e1cc;
	color: black;
}

/* Style the back side */
.flip-card-back {
	line-height: 2rem;
	background-color: #d2e7d6;
	color: black;
	transform: rotateY(180deg);
}

.deleteBtnStyle {
	background-color: white;
	border: 2px solid black;
	color: black;
}

.deleteBtnStyle:active {
	background-color: black;
	color: white;
}

.addBtn {
	font-weight: bolder;
	margin-top: 5px;
	border-radius: 5px;
	margin-left: 10px;
	background-color: #abc4b0;
	padding: 0px 15px 0px 15px;
}

.logoDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: x-large;
	margin-right: auto;
	font-family: ;
}

.logoDiv > h1 {
	padding-left: 20px;
}
#logo {
	height: 100%;
}
